#bodyMain {
    background-color: rgb(233, 233, 241);
    font-family
}

#bodyPortfolio {
    background-color:#ffffff;
}

h1,
ul,
h3 {
    font-family: "Playfair Display";
    color: #424242;
}

a {
    color: #424242;
    text-decoration: none;
    font-size: 20px;
}


#about-background {
    position: absolute;
    font-family: "Playfair Display";
    color: #e8e8e8;
    font-size: 14em;
    left: auto;
    right: auto;
    top: 20%;
    z-index: -1;
}

#bio {
    position: absolute;
    z-index: 0;
    top: 30%;
    right: auto;
    left: auto;
    font-family: "Montserrat";
}

#contact-background {
    position: absolute;
    font-family: "Playfair Display";
    color: #e8e8e8;
    font-size: 9em;
    left: 40%;
    top: 65%;
    z-index: -1;
}

#contactContainer {
    position: absolute;
    z-index: 0;
    top: 75%;
    left: 55%;
    width: 70%;
    font-family: 'Montserrat';
}

@media only screen and ( max-width: 768px) {
    #about-background {
        font-size: 14em;
    }
    
    #bio {
        top: 25%;
    }
    
    #contact-background {
        font-size: 8em;
        left: auto;
        right:auto;
        top: 65%;
    }
    
    #contactContainer {
        left: 28%;
        right: auto;
    }
    
}

@media screen and (max-width: 640px) {
    #about-background {
        color: #424242;
        font-size: 1.9em;
        top: 20%;
    }
    
    #bio {
        top: 28%;
    }
    
    #contact-background {
        color: #424242;
        font-size: 1.9em;
        left: auto;
        top: 75%;
    }
    
    #contactContainer {
        top: 75%;
        left: auto;
        top: 82%;
    }
}

.col-lg-5 {
    background-color: #e8e8e8;
    height: 350px;
    align-content: center;
    border-radius: 6px;
}

img {
    display: flexbox;
    position: absolute;
    z-index: 2;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    left: 20%;
    top: 15%;
    
}

.title {
    position: absolute;
    z-index: 3;
    font-family: "Playfair Display";
    font-size: 60px;
    top: 30%;
    left: 15%;
    max-width: 100%;
    
}

a :hover {
    color: black;
    opacity: .7;
   

}

span {
    color: white;
    
}

.github {
    height: 30px;
    position: absolute;
    left: 90%;
    top: 87%;

}

.githublogo {
    height: 30px;
    width: 30px;
}

.githubmain {
    height: 40px;
    width: 40px;
}

.githubinfo {
    height: 30px;
    width: 30px;
    position: absolute;
}

#mariana,
#finamori {
    position: absolute;
    font-family: "Playfair Display";
    font-size: 180px;
    padding-left: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 180px;
    color: #424242;
    opacity: 0.8;
}

#mariana {
    top: 18%;
    left: 4%;
}

#finamori {
    top: 47%;
    left: 25%;
}

#letterM,
#letterF {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 380px;
    color: white;
    opacity: 0.8;
}

#letterF {
    opacity: 0.8;
}


#nameh1 {
    opacity: 0;
}

.pack {
    /* display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center; */
}

.line1, 
.line2 {
    align-items: center;
} 

.line2 {
    top: 46%;
}

#cityseer {
    color: black;
}

.psy1 {
    width: 100%;
    left: 1%;
}

#trivia {
    color: black;
    max-width: 100%;
    left: 8%
}

#seer {
    color: black;
}

#bootstrap {
    left: 10%
}

.mainContainer {
    margin-bottom: 40px;
}

#liri {
    color: rgb(251, 220, 0);
}

#constructor {
    left: 1%;
    color: #3a3a38;
    text-align: center;
}

#bamazon1 {
    left: 2%;
    color: navy;
    top: 22%
}

#bamazon2 {
    left: 12%;
    color: navy;
    top: 40%;
}

#node-word,
#express-word {
    color: rgb(251, 220, 0);
}

#node-word {
    left: 25%;
}


.case1 {
    left: 0.5%;
    color: #424242;
}

.case2 {
    left: 2%;
    color: #424242;
}

#scri {
    color: #424242;
}

#nodeex-span,
#handlebars-span {
    color:  #e6f2ff;
}

#scholar {
    top: 30%;
    color: #206f8e;
}

#scholar-project {
    top: 48%;
    color: #206f8e;
}

#ec {
    color: #206f8e;
}

#java {
    top: 50%
}

.memorygametitle {
    color:#206f8e;
    width: 100%;
    left: 3%;
}

.react {
   left: 20%;
}

.googlebooks {
    width: 100%;
    left: 1%;
}

.economist {
    color:#206f8e;
}

.triangulate {
    color:  #e6f2ff;
}

.mern {
    left: 25%;
}









